.btn{
    background-color: #b77048;
    color: #0b1b23;
    max-width: 800px;
}

.row{
    margin-top: 10px;
}

body{
    background-color: #bcbdc6;
}

.whiteText{
    color: #0b1b23;
}

#strBut{
    background-color: #0e4157;
    color: #bcbdc6;
}

#imgCont{
    background-color: #10485f;
    width: 25%;
    border-radius: 10px;
}

#pageImg{
    height: 100%;
    width: 100%;
}

#endScore{
    background-color: #0c1c24;
    color: #bcbdc6;
    border-radius: 10px;
    font-size: 200%;
    margin: 10px;
    max-width:  500px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}


.container{
    justify-content: center;
    position: relative;
    text-align: center;
}

.div{
    justify-content: center;
}

#options{
    display: grid;
}